@model IEnumerable<flight.Models.SanchitBooking>

@{
    ViewData["Title"] = "GetBook";
    Layout="~/Views/Shared/AdminLayout.cshtml";
}

<h1> Hello @ViewBag.Username</h1>
<br>
<h2>Your Bookings</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookingid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flightid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bookingid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flightid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPassengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.ActionLink("Cancel Booking", "Cancel", new {  id=item.Bookingid  }) 
            </td>
        </tr>
}
    </tbody>
</table>
