@model IEnumerable<flight.Models.SanchitFlight>

@{
    ViewData["Title"] = "GetAllFlight";
    Layout="~/Views/Shared/AdminLayout.cshtml";
}
<h1> Hello @ViewBag.Username</h1>
<br>
<h2>Select Flight from Available Flights</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flightid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flightname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flightid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flightname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Book","Book", new {  fid=item.Flightid }) 
            </td>
        </tr>
}
    </tbody>
</table>
